extends layouts/default

block content
  | <?php
  | $args = array(
  |   'post_type'  => 'events',
  |   'numberposts'     => -1,
  |   'order' => 'ASC',
  |   'meta_query' => array(
  |       array(
  |           'key'     => 'pm_end_date',
  |           'value'   => current_time( 'Y-m-d H:i' ),
  |           'compare' => '>',
  |       )
  |   )
  | ); ?>

  - if ($events = get_posts($args)):
    - $event = $events[0]
    - $map_post_id = get_post_meta($event->ID,'pm_position',true)
    main.col-sm-9.col-md-6.invitation.main
      - if (has_post_thumbnail($event)):
        .invitation__image.box
          a.invitation__link(href= get_the_post_thumbnail_url($event, 'full'))
            - echo get_the_post_thumbnail($event, 'blog', array('class' => 'img-responsive'))
      - else:
        .invitation__image.invitation__image--empty.box
          | <?php
          | $start = strtotime(get_post_meta($event->ID, 'pm_start_date', true));
          | $end = strtotime(get_post_meta($event->ID, 'pm_end_date', true));
          | if (date('dmy', $start) == date('dmy', $end)) {
          |     $date = date('j. n. Y', $start);
          | } else {
          |   if(date('m', $start) == date('m', $end)){
          |     $date = date('j.', $start) . '–' . date('j. n. Y', $end);
          |   } else {
          |     $date = date('j. n.', $start) . '–' . date('j. n. Y', $end);
          |   }
          | }
          | ?>
          p.invitation__text.text.text--hight='naše příští akce je'
          h1.invitation__title= $event->post_title
          h2.invitation__subtitle= $date
          p.invitation__text.text.text--hight='více informací brzy'
          p.invitation__text.text.text--hight
            ='sledujte náš '
            a(href='https://www.facebook.com/podebradskamladez/', target='_blank')='facebook'
      - endif
      - if (!empty($event->post_content)):
      .invitation__text.text.box
        - echo $event->post_content
      - endif
    .col-sm-10.col-sm-offset-1.col-md-4.col-md-offset-0
      .row
        - if ($map = get_post_meta($map_post_id, 'pm_position', true)):
        .col-sm-12
          .map.box
            - echo $map
        - endif;

        - if ($map_post_id):
          - if ($to = get_post($map_post_id)->post_title):
            .col-sm-6.col-sm-offset-3.col-md-10.col-md-offset-0
              - $start = strtotime( get_post_meta( $event->ID, 'pm_start_date', true ) )
              - $queries['date'] = date('d.m.Y', $start)
              - $queries['time'] = date( 'H:i', $start - 1/4 * 60 * 60 )
              - $queries['t'] = $to
              .form__text= 'Najdi si spoj:'
              form#idosForm.form.box(action= 'http://jizdnirady.idnes.cz/vlakyautobusy/spojeni', target='_blank')
                - foreach ($queries as $key => $value):
                  input(type='hidden', name=$key, value=$value)
                - endforeach;
                input(type='hidden', name='byarr', value='true')

                label.form__label(for='idosFrom')='Odkud:'
                input#idosFrom.form__input(type='text', name='f', placeholder='Úžice' required='required')

                input#idosSubmitt(type='hidden', name='submit', value='true')
                button.button.button.form__button(type='submit')='Odeslat'
          - endif
        - endif

        .col-sm-6.col-sm-offset-3.col-md-10.col-md-offset-0
          - if ($register_to = get_post_meta($event->ID, 'pm_register_to', true)):
            - if ($register_to >= current_time( 'Y-m-d' )):
              .form__text.form__text--center
                = 'Přihlaš se do ' . date('j. n. Y', strtotime($register_to))
              a.button.button--call(href='http://m.me/podebradskamladez', target='_blank', title='Facebook Messenger')
                span.button__caption= 'Přihlásit se přes'
                span.button__title= 'FB Messenger'
              .form__text.form__text--center
                = 'nebo přes formulář'
              form#registerForm.form.box(action=bloginfo('template_directory') + '/post-process.php', method='POST')
                input#postID.form__input(type='hidden', name='postID', value='<?php echo $event->ID; ?>')
                label.form__label(for='postName')='Jméno:'
                  - if (!empty($_GET['postName'])):
                    span.form__error='Jméno musí být vyplněno.'
                  - endif
                input#postName.form__input(type='text', name='postName', placeholder='Ruprd', required='required')

                label.form__label(for='inputSurname')='Příjmení:'
                  - if (!empty($_GET['postSurname'])):
                    span.form__error='Příjmení musí být vyplněno.'
                  - endif
                input#inputSurname.form__input(type='text', name='postSurname', placeholder='Murdoch', required='required')

                label.form__label(for='inputMail')='E-mail:'
                - if (!empty($_GET['postMail'])):
                  span.form__error='E-mail musí být vyplněn.'
                - endif
                input#inputMail.form__input(type='text', name='postMail',  placeholder='ruprde@email.hu')

                input#submitted(type='hidden', name='submitted', value='true')
                - wp_nonce_field( 'post_nonce', 'post_nonce_field' )
                button.button.button.form__button(type='submit')='Přihlásit se'

                - if (!empty($_GET['status'])):
                  - if ($_GET['status'] == 'success'):
                    span.form__message.form__message--success= 'Byl jsi úspěšně přihlášen.'
                  - elseif ($_GET['status'] == 'error'):
                    span.form__message.form__message--error= 'Něco se pokazilo.'
                  - endif
                - endif
            - else:
              .form__late.box= 'Přihlašování už bylo uzavřeno.'
            - endif
          - else:
            .form__late.box= 'Přihlašování ještě není otevřené.'
          - endif

        - if ($nextEvents = array_slice($events, 1)):
          .col-sm-10.col-sm-offset-1.col-md-12.col-md-offset-0
            .calendar.box
              p.calendar__description='Další akce:'
                .calendar__list
                  - foreach ($nextEvents as $item ):
                    | <?php
                    | $start = strtotime(get_post_meta($item->ID, 'pm_start_date', true));
                    | $end = strtotime(get_post_meta($item->ID, 'pm_end_date', true));
                    | if (date('dmy', $start) == date('dmy', $end)) {
                    |     $date = date('j. n. Y', $start);
                    | } else {
                    |   if(date('m', $start) == date('m', $end)){
                    |     $date = date('j.', $start) . '–' . date('j. n. Y', $end);
                    |   } else {
                    |     $date = date('j. n.', $start) . '–' . date('j. n. Y', $end);
                    |   }
                    | }
                    | ?>
                    .calendar__date=$date
                    .calendar__name=$item->post_title
                  - endforeach
        - endif
        - wp_reset_query()
        .col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-0
          a.center(href='https://calendar.google.com/calendar/render?cid=skaut.cz_4e0n87fb8an928gsnosfoj0gns@group.calendar.google.com#main_7', target='_blank')
            !='Přidej si náš kalendář google <br>do svého účtu'
      - else:
        main.col-sm-6.invitation.main
          .invitation__image.invitation__image--empty.box
            h1.invitation__title= 'Nejsou naplánované žádné akce'
            h2.invitation__subtitle= 'Zkus to později'
      - endif

