extends layouts/default

block content
  - if ( have_posts() ) :
    | <?php
    | $args = array(
    |   'post_type'  => 'events',
    |   'offset'     => 0,
    |   'order' => 'ASC',
    |   'meta_query' => array(
    |       array(
    |           'key'     => 'pm_end_date',
    |           'value'   => current_time( 'Y-m-d H:i' ),
    |           'compare' => '>',
    |       )
    |   )
    | ); ?>
  - $events = get_posts($args)
  - $event = $events[0]

  main.col-md-6.invitation
    .invitation__image.box
      a.invitation__link(href='<?php echo $event->the_permalink ?>')
        - echo get_the_post_thumbnail($event, 'blog', array('class' => 'img-responsive'))
    .invitation__text.text.box
      = $event->post_content
  .col-md-4
    .map.box
      - $map_post_id = get_post_meta($event->ID,'pm_position',true)
      - echo get_post_meta($map_post_id, 'pm_position', true)

  .col-md-3
    - $register_to = get_post_meta($event->ID, 'pm_register_to', true)
    - bdump($register_to)
    - bdump(current_time( 'Y-m-d' ))
    - if ($register_to >= current_time( 'Y-m-d' )):
      .form__text
        = 'Přihlašujte se do ' . date('j. n. Y', strtotime($register_to))
      form#registerForm.form.box(action=bloginfo('template_directory') + '/post-process.php', method='POST')
        input#postID.form__input(type='hidden', name='postID', value='<?php echo $event->ID; ?>')
        label.form__label(for='postName')='Jméno:'
          - if (!empty($_GET['postName'])):
            span.form__error='Jméno musí být vyplněno.'
          - endif
        input#postName.form__input(type='text', name='postName', required='required')

        label.form__label(for='inputSurname')='Příjmení:'
          - if (!empty($_GET['postSurname'])):
            span.form__error='Příjmení musí být vyplněno.'
          - endif
        input#inputSurname.form__input(type='text', name='postSurname', required='required')

        label.form__label(for='inputMail')='E-mail:'
        - if (!empty($_GET['postMail'])):
          span.form__error='E-mail musí být vyplněn.'
        - endif
        input#inputMail.form__input(type='text', name='postMail', required='required')

        input#submitted(type='hidden', name='submitted', value='true')
        - wp_nonce_field( 'post_nonce', 'post_nonce_field' )
        button.button.button.form__button(type='submit')='Přihlásit se'

        - if ($_GET['status'] == 'success'):
          span.form__message.form__message--success= 'Byl jsi úspěšně přihlášen.'
        - elseif ($_GET['status'] == 'error'):
          span.form__message.form__message--error= 'Něco se pokazilo.'
        - endif;
    - else:
      .form__late.box= 'Přihlašování už bylo uzavřeno'
    - endif

  .col-md-5
    .calendar.box
      p.calendar__description='Další akce:'
        .calendar__list
          - foreach (array_slice($events, 1) as $item ):
            | <?php
            | $start = strtotime(get_post_meta($item->ID, 'pm_start_date', true));
            | $end = strtotime(get_post_meta($item->ID, 'pm_end_date', true));
            | if(date('m', $start) == date('m', $end)){
            |   $date = date('j.', $start) . ' - ' . date('j. n. Y', $end);
            | } else {
            |   $date = date('j. n.', $start) . ' - ' . date('j. n. Y', $end);
            | }
            | ?>
            .calendar__name=$item->post_title
            .calendar__date=$date
          - endforeach
  - endif
  - wp_reset_query()
